*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

.page {
    display: flex;
    align-items: center;
    inline-size: 1200px;
    margin: 0 auto;
    block-size: 100%;
    padding: 0 30px;
    color: #fff;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    background-color: #1b1919;
}

.content {
    display: flex;
    align-items: end;
    width: 100%;
    justify-content: space-between;
}

.result__video-container {
    position: relative;
    width: 711px;
    height: 386px;
    margin-bottom: 16px;
}

.result__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-start;
}

.search-form__fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.search-form__fieldset-title {
    font-size: 18px;
    font-weight: 400;
}

.search-form__label {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 6px;
    cursor: pointer;
}

/** Избавляемся от подпрыгивания при наведении */
.search-form__label-text {
    border-bottom: 1px solid transparent;
}

.search-form__label:hover .search-form__label-text {
    border-bottom: 1px solid #fff;
}

.search-form__label:has(.search-form__checkbox:focus-visible),
.search-form__label:has(.search-form__textfield:focus-visible) {
    outline: 1px solid #fff;
    outline-offset: 2px;
}

.search-form__textfield {
    width: 225px;
    height: 27px;
    appearance: none;
    outline: none;
    font: inherit;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 18px;
}

.search-form__textfield::placeholder {
    color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:hover {
    cursor: text;
}

.search-form__textfield:focus {
    outline: none;
}

.search-form__checkbox-list {
    display: flex;
    gap: 15px;
}

.search-form__pseudo-checkbox {
    width: 19px;
    height: 19px;
    border: 1px solid #fff;
    padding: 1px;
}

.search-form__pseudo-checkbox::after {
    content: '';
    display: block;
    background-color: #fff;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox:after {
    opacity: 1;
}

.button {
    box-sizing: border-box;
    display: block;
    height: 34px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    appearance: none;
    padding-block: 0;
    padding: 0;
    padding-inline: 0;
    cursor: pointer;
}

.button:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.button:active {
    background-color: #545050;
}

.button:focus {
    outline: none;
}

.button:focus-visible {
    outline: 1px solid #fff;
    outline-offset: 2px;
}

.search-form__submit-button {
    width: 194px;
}

.content__details {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 399px;
    gap: 26px;
}

.title {
    font-family: Oswald, sans-serif;
    font-size: 75px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 0.94em;
}

.content__accent {
    color: #545050;
}

.content__list-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 298px;
    min-width: 224px;
    overflow-y: scroll;
    overflow-x: hidden;
    gap: 32px;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
}

.content__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.content__card-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.content__card-link_current {
    background-color: #545050;
}

.content__card-link:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-skip-ink: none;
}

.content__card-link:focus {
    outline: none;
}

.content__card-link:focus-visible {
    outline: 1px solid #fff;
    outline-offset: -1px;
}

.content__video-card {
    display: flex;
    align-items: start;
}

.content__video-card-description-container {
    width: 196px;
}

.content__video-card-title {
    font-family: Oswald, sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content__video-card-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 0.9em;
    line-clamp: auto;
}

.content__video-card-thumbnail {
    width: 194px;
    height: 103px;
    object-fit: cover;
    object-position: center;
}

.more-button {
    flex-shrink: 0;
}

.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}
